header, footer {
    background-color: rgb(250, 201, 149);
    padding: 1px;
    text-align: center;
}
body {
    background-color: rgb(253, 233, 212);
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(253, 233, 212);
    font-family: serif;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}
li {
    display: inline-block;
    margin-left: 250px;
    font-size: 30px;
    font-family: serif;
}
.navi {
    color: rgb(255, 137, 10);
    text-align: center;
    text-decoration: solid;
    font-variant: small-caps;
}
#categorias{
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
    border: solid black;
    padding-left: 20px;
    background-color:rgb(253, 233, 212);
    
}
.pratoB{
    
    background-color: #f9f9f9; /* Example background color */
    padding: 20px;
    border: 1px solid #ccc;
    flex: 33%;
    box-sizing: border-box; 
}
.br{
    display: inline-block;
    gap: 20px; /* Add space between the items */
    padding: 20px;
    background-color: rgb(253, 233, 212);
}
h2{
    color: rgb(253, 181, 103);
    font-family: serif;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
}
footer {
    text-align: center;  
}

